body{
    background-color: #aa80ff;
    text-align:center;
}
h1{
font-size:5rem;
font-family: 'Fasthand', cursive;
}
.hd3{
    margin-top: 5%;
}
#pl1{
    padding-left: 30%;
}
#pl2{
    padding-right: 30%;
}
img{
    border-radius:60px;
    height:190px;
    
    
}
#img1{
   margin-top: 30px;
    margin-right:70px;
}
#img2{
    margin-top: 30px;
     margin-left:10px;
 }